In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) AppleWeKit/537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

soup=BeautifulSoup(webpage,'html.parser')
soup.find_all('h1')[0].text

company=soup.find_all('div',class_='company-content-wrapper')
len(company) 

name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

d={'name' : name,'rating' : rating,'reviews':reviews,'Type':ctype,'HQ':hq,'how_old':how_old,'no_of_employee':no_of_employee}

df=pd.DataFrame(d)

df

,name,rating,reviews,Type,HQ,how_old,no_of_employee
0,TCS,3.9,(50.5k Reviews),Public,"Mumbai,Maharashtra + 278 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(32.7k Reviews),Public,Dublin + 142 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(30k Reviews),Private,Teaneck. New Jersey. + 100 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(35.2k Reviews),Public,"Mumbai,Maharashtra + 1046 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(40.3k Reviews),Public,"Mumbai,Maharashtra + 1225 more",28 years old,1 Lakh+ Employees (India)
5,Wipro,3.9,(29.1k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 231 more",77 years old,1 Lakh+ Employees (India)
6,Infosys,3.9,(28.6k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 126 more",41 years old,1 Lakh+ Employees (India)
7,Capgemini,3.9,(24.3k Reviews),Public,Paris + 80 more,55 years old,1 Lakh+ Employees (India)
8,Tech Mahindra,3.7,(22.1k Reviews),Public,"Pune,Maharashtra + 217 more",36 years old,50k-1 Lakh Employees (India)
9,Genpact,4.0,(21.3k Reviews),Public,"New York,New York + 67 more",25 years old,50k-1 Lakh Employees (India)
10,HCLTech,3.8,(18.7k Reviews),Public,Noida + 142 more,31 years old,1 Lakh+ Employees (India)
11,Amazon,4.3,(18.5k Reviews),Public,"Seattle,Washington + 386 more",28 years old,1 Lakh+ Employees (India)
12,Axis Bank,3.9,(19.3k Reviews),Public,"Mumbai,Maharashtra + 1078 more",29 years old,1 Lakh+ Employees (India)
13,IBM,4.2,(15.8k Reviews),Public,"Armonk,New York + 122 more",111 years old,1 Lakh+ Employees (India)
14,Concentrix Corpo...,4.0,(15.3k Reviews),Public,"Fremont,California + 70 more",39 years old,10k-50k Employees (India)
15,Reliance jio,4.0,(15.2k Reviews),Public,"Navi Mumbai,Maharashtra + 969 more",15 years old,50k-1 Lakh Employees (India)
16,Larsen & Toubro ...,4.1,(25.1k Reviews),Public,"Mumbai,Maharashtra + 524 more",84 years old,10k-50k Employees (India)
17,Vodafone Idea,4.2,(14k Reviews),Public,"Gandhinagar,Gujrat + 564 more",4 years old,10k-50k Employees (India)
18,HDB Financial Se...,4.0,(13.5k Reviews),Private,"Ahmedabad,Gujrat + 779 more",15 years old,1 Lakh+ Employees (India)
19,Teleperformance,3.6,(14.6k Reviews),Private,Paris + 124 more,44 years old,50k-1 Lakh Employees (India)
20,Kotak Mahindra B...,3.9,(13.9k Reviews),Public,"Mumbai,Maharashtra + 472 more",19 years old,50k-1 Lakh Employees (India)
21,Reliance Industr...,4.1,(44.5k Reviews),Public,"Navi Mumbai,Maharashtra + 488 more",49 years old,1 Lakh+ Employees (India)
22,Bharti Airtel,4.1,(13k Reviews),Public,"Gurgaon/Gurugram,Haryana + 511 more",27 years old,10k-50k Employees (India)
23,Reliance Retail,4.1,(16k Reviews),Private,"Navi Mumbai,Maharashtra + 658 more",16 years old,1 Lakh+ Employees (India)
24,Deloitte,4.1,(10.4k Reviews),Private,"New York,New York + 134 more",177 years old,50k-1 Lakh Employees (India)
25,Tata Motors,4.1,(12.6k Reviews),Public,"Pune,Maharashtra + 394 more",77 years old,10k-50k Employees (India)
26,BYJU'S,3.5,(12.4k Reviews),Private,"Bangalore,Karnataka + 212 more",11 years old,1k-5k Employees (India)
27,WNS,3.7,(7.1k Reviews),Private,"Mumbai,Maharashtra + 23 more",26 years old,10k-50k Employees (India)
28,Mahindra & Mahin...,3.9,(40.1k Reviews),Public,"Mumbai,Maharashtra + 410 more",77 years old,1 Lakh+ Employees (India)
29,Flipkart,4.2,(11.7k Reviews),Public,"Bangalore,Karnataka + 440 more",15 years old,50k-1 Lakh Employees (India)